<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
  <div class="container">
    <!-- 1번: Hero 영역 -->
    <section class="section hero">
      <img src="{{ '/assets/img/Title_Img.png' | relative_url }}" alt="TITLE IMG">
    </section>

    <!-- 2번: Middle 영역 -->
    {%- assign grouped = site.elements | group_by:"curri" | sort: "name" -%}

    <section class="section middle">
      {% for g in grouped %}
        {%- assign curri_id = g.name -%}
        <div class="curri" id="curri_{{ curri_id }}">
          <h1>#{{ curri_id }}</h1> 
        </div>

        <div class="curri_wrap">
         {% for post in g.items %}
            <div class="curri_box" id="curri_box_{{ curri_id }}_{{ forloop.index }}">
             <a href="{{ post.url | relative_url }}"
                 class="post {{ post.group }}"
                style="grid-column:{{ post.col }}; grid-row:{{ post.row }};">
               <span class="title">{{ post.title }}</span>
              </a>
            </div>
         {% endfor %}
       </div>
      {% endfor %}
    </section>

    <footer class="footer">
      <p> THIS IS FOOTER</p>
    </footer>
  </div>


  <script src="{{ '/assets/script.js' | relative_url }}"></script>
{% if page.floating_ad %}
{% include floating-ad.html %}
{% endif %}

{% if page.hammenu %}
{% include menu.html %}
{% endif %}  
</body>
</html>

