<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
  <div class="container">
    <!-- 1번: Hero 영역 -->
    <section class="section hero">
      <img src="{{ '/assets/img/Title_Img.png' | relative_url }}" alt="TITLE IMG">
    </section>

    <!-- 2번: Middle 영역 -->
    <section class="section middle">

        {% for cur in site.data.curriculum %}
        <div class="curri" id="curri_{{ cur.id }}">
          <h1>{{ cur.title }}</h1>
        </div>

        <div class="curri_wrap">
          {% assign posts_in_cur = site.posts | where: "curri", cur.id %}
          {% for post in posts_in_cur %}
          <div class="curri_box">
            <a href="{{ post.url | relative_url }}"
             class="post {{ post.group }}"
            style="grid-column:{{ post.col }}; grid-row:{{ post.row }};">
          {% if post.symbol %}
          <span class="number">{{ post.number }}</span>
          <span class="title">{{ post.title }}</span>
          {% endif %}
          </a>
          </div>
        {% endfor %}
         </div>
        {% endfor %}
      
    </section>

    <footer class="footer">
      <p> THIS IS FOOTER</p>
    </footer>
  </div>


  <script src="{{ '/assets/script.js' | relative_url }}"></script>
{% if page.floating_ad %}
{% include floating-ad.html %}
{% endif %}

{% if page.hammenu %}
{% include menu.html %}
{% endif %}  
</body>
</html>

