<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
  <div class="container">
    <!-- 1번: Hero 영역 -->
    <section class="section hero">
      <img src="{{ '/assets/img/Title_Img.png' | relative_url }}" alt="TITLE IMG">
    </section>

    <!-- 2번: Middle 영역 -->
    <section class="section middle">
      <div class="curri" id="curri_1"> <h1>#1</h1> </div>
      <div class="curri_box"> </div>
     
      <div class="curri" id="curri_2"> <h1>#2</h1> </div>
      <div class="curri_box"> </div>
      
      <div class="curri" id="curri_3"> <h1>#3</h1> </div>
      <div class="curri_box"> </div>

    </section>

    <footer class="footer">
      <p> THIS IS FOOTER</p>
    </footer>
  </div>


  <script src="{{ '/assets/script.js' | relative_url }}"></script>
{% if page.floating_ad %}
{% include floating-ad.html %}
{% endif %}

{% if page.hammenu %}
{% include menu.html %}
{% endif %}  
</body>
</html>

